body {
	background-color: #fff;
	padding-top: 50px;
}

.container {
	width: 750px;
}

.the-table {
	margin-top: 0;
	padding: 30px 0;
	width: 562.5px;
	margin-bottom: 0;
	z-index: 3;
}

.card {
	height: 120px;
	background-color: #fff;
	margin: 5px;
	width: 13%;
	color: black;
	padding-top: 20px;
	transition: outline .5s ease-in;
}

.dealer-hand-wrapper, .player-hand-wrapper {
	font-size: 18px;
	text-align: center;
}

.dealer-total-number, .player-total-number {
	display: block;
	text-align: center;
}

.player-actions button {
	width: 100px;
	margin-top: 20px;
}

.card img {
	max-width: 100%;
}

.red{
	color: red;
	border: 1px solid red;
}

.black {
	color: black;
	border: 1px solid black;
}

.dealer-total span, .player-total span {
	display: inline-block;
}

.dealer-total p {
	float: right;
}

.player-total p {
	float: left;
	margin-left: -10px;
}

.bracket {
	font-size: 80px;
	color: #777;
}

.dealer-total-number {
	margin-right: 10px;
	font-size: 55px;
}

.player-total-number {
	margin-left: 10px;
	font-size: 60px;
}

.action-bar {
	padding: 0px;
	margin-top: 100px;
	margin-right: 15px;
	z-index: 2;
	background-color: white;
	position: relative;
}

.action-bar button {
	margin-top: 0;
	border-right: none;
	border-radius: 5px 0px 0px 5px !important;
	outline: none;
}

.action-bar button:focus {
	outline: none !important;
}

.card-reverse {
	background: repeating-linear-gradient(
	  45deg,
	  red,
	  red 10px,
	  black 10px,
	  black 20px
	);
}

.wait {
	opacity: 0;
}

.player-cards {
	border: 1px solid #ccc;
	border-left: none;
	min-height: 130px;
	padding-right: 0px;
	padding-left: 40px;
}

.dealer-cards {
	border: 1px solid #ccc;
	border-right: none;
	min-height: 130px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.hidden-text {
	color: transparent;
	border: none;
}

.score-wrapper {
	margin-bottom: 0;
	border-bottom: 0;
	padding: 5px;
	text-align: center;
	background-color: #ededed;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.reset-button {
	margin-top: 25px !important;
	left: 100px;
}

.slide {
    transition: 1s;
    left: 0;
}

.player-score {
	margin-right: 30px;
}

.bet-wrapper {
	margin-top: -5px;
	z-index: 2;
	padding: 15px 5px 15px 5px;
	background-color: #ededed;
	width: 500px;
}

.bet-amount {
	font-size: 14px;
}

button:focus {
	outline: none !important;
}

.fade-in-pre {
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

.fade-in-post {
	opacity: 1;
}